<div class="add-comment">
  <div class="add-comment-header">
    <button class="add-comment-tab active">Write</button>
    <button class="add-comment-tab">Preview</button>

    <app-tag-list [tags]="tags" />
    <app-actions-popup
      (selectTagHandle)="selectTagHandle($event)"
      btnText="+ Add tags" />
  </div>
  <div class="add-comment-body">
    <textarea
      (input)="persistCommentHandle()"
      class="add-comment-input"
      rows="4"
      [(ngModel)]="value"
      placeholder="Add your comment here..."
      >{{ value }}</textarea
    >
  </div>
  <div class="add-comment-footer">
    <ng-container *ngIf="!editMode; else editModeButtons">
      <button
        (click)="addCommentHandle()"
        [disabled]="!value"
        class="add-comment-btn">
        Comment
      </button>
    </ng-container>

    <ng-template #editModeButtons>
      <button (click)="emitCancel()" class="add-comment-btn cancel-btn">
        Cancel
      </button>
      <button (click)="editCommentHandle()" class="add-comment-btn">
        Update comment
      </button>
    </ng-template>
  </div>
</div>
